{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": [
		"react"
	],
    "rules": {
      "react/jsx-handler-names": 2,
      "react/no-multi-comp": 2,
      "react/prop-types": 2,
      "react/sort-comp": 2
    },
	"extends": ["seatgeek-standard", "seatgeek-react-standard"]
}
